:root {
    --color-primario: #3498db;
    --color-secundario: #2ecc71;
    --color-fondo: #ecf0f1;
    --color-texto-principal: #333;
    --color-texto-secundario: #555;
    --color-texto-blanco: #fff;
}

body {
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto-principal);
}

header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--color-primario);
    color: var(--color-texto-blanco);
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Archivo Black', sans-serif;
}

header img {
    width: 100px;
    height: auto;
    align-self: center;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: var(--color-secundario);
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    font-family: 'Archivo Black', sans-serif;
}

nav li {
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: 'Archivo Black', sans-serif;
}

nav li a {
    background-color: var(--color-primario);
    padding: 12px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-texto-blanco);
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Archivo Black', sans-serif;
}

nav li a:hover {
    background-color: rgba(41, 128, 185, 0.9);
}

main {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Archivo Black', sans-serif;
}

.servicios-lista h2 {
    font-size: 28px;
    margin: 12px 20px 0;
    background-color: var(--color-primario);
    color: var(--color-texto-blanco);
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.servicios-lista h2:hover {
    background-color: rgba(41, 128, 185, 0.9);
    font-family: 'Archivo Black', sans-serif;
}

.servicios-lista {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.servicios-lista li {
    flex: 1;
    margin: 20px;
    background-color: var(--color-secundario);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.servicios-lista img {
    max-width: 100%;
    height: auto;
    border-bottom: 2px solid var(--color-primario);
}

.servicios-lista p {
    padding: 20px;
    margin: 0;
    color: var(--color-texto-principal);
    font-family: 'Oswald', sans-serif;
}

footer {
    background-color: var(--color-primario);
    padding: 30px;
    text-align: center;
    color: var(--color-texto-blanco);
    font-family: 'Archivo Black', sans-serif;
}

/* Agregamos una media query para hacerlo responsive */
@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 5px;
    }
}