/* Paleta de colores para lavado de autos */
:root {
    --color-primario: #3498db; 
    --color-secundario: #2ecc71; 
    --color-fondo: #ecf0f1; 
    --color-texto-principal: #333; 
    --color-texto-secundario: #555; 
    --color-texto-blanco: #fff; 
}

/* Estilos generales del body*/
body {
    font-family: 'Archivo Black', sans-serif; 
    margin: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto-principal);
}

/* Estilos del encabezado */
header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--color-primario);
    color: var(--color-texto-blanco);
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Archivo Black', sans-serif;
}

header img {
    width: 100px;
    height: auto;
    align-self: center;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: var(--color-secundario);
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    font-family: 'Archivo Black', sans-serif;
}

nav li {
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: 'Archivo Black', sans-serif;
}

nav li a {
    background-color: var(--color-primario);
    padding: 12px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-texto-blanco);
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Archivo Black', sans-serif;
}

nav li a:hover {
    background-color: rgba(41, 128, 185, 0.9);
}

/* Estilos del contenido principal */
main {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilos para las imágenes en la galería */
.gallery img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilos del pie de página */
footer {
    background-color: var(--color-primario);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-texto-blanco);
    border-top: 2px solid var(--color-secundario);
    font-family: 'Archivo Black', sans-serif;
}