/* Reset de estilos para mayor consistencia en diferentes navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales del cuerpo de la página */
body {
  font-family: 'Arial', sans-serif; /* Puedes cambiar la fuente según tus preferencias */
  background-color: #f8f9fa; /* Color de fondo */
  color: #343a40; /* Color del texto principal */
}

/* Estilos del encabezado (header) */
header {
    background-color: #000000;
    color: white;
    padding: 10px;
    display: flex; /* Usa flexbox para alinear elementos en el header */
    align-items: center; /* Centra verticalmente los elementos en el header */
    justify-content: space-between; /* Distribuye los elementos a lo largo del header */
  }

  header img {
    height: 100px;
  }

  nav {
    display: inline-block;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 14px 35px;
    display: inline-block;
    font-size: x-large;
  }

  nav a:hover {
    background-color: #ddd;
    color: #333;
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.info-box {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

img {
    max-width: 100%;
    height: 500px;
}

.title {
  font-family: 'Archivo Black', sans-serif; /* Utiliza la fuente Archivo Black o la que prefieras */
  color: #ffffff; /* Cambia el color del texto a tu preferencia */
  text-decoration: none; /* Elimina la subrayado predeterminado en los enlaces */
  font-size: 50px; /* Ajusta el tamaño del texto según tus preferencias */
  font-weight: bold; /* Establece el peso de la fuente como negrita o ajusta según tus preferencias */  
}
/* Estilos del pie de página (footer) */
footer {
  text-align: center;
  background-color: #8a0000; /* Color de fondo del pie de página */
  color: #ffffff; /* Color del texto en el pie de página */
  padding: 20px 0; /* Espaciado interno en el pie de página */
}

.social-icons a {
  
  color: #ffffff; /* Color de los íconos de redes sociales */
  margin-right: 10px; /* Espaciado entre los íconos de redes sociales */
  font-size: 50px; /* Tamaño de fuente de los íconos de redes sociales */
}

/* Estilos de la información en el pie de página */
.footer-info {
  margin-top: 10px; /* Espaciado superior en la información del pie de página */
  
}

.location, .language {
  margin-bottom: 5px; /* Espaciado inferior en la información del pie de página */
}


/* Estilos responsivos */
@media (max-width: 768px) {
  .navbar-brand img {
      max-height: 40px; /* Ajuste de tamaño del logo en dispositivos más pequeños */
  }
}